.. -*- mode: rst -*-

Documentation Method Descriptions
----------------------------------

Operation Item
~~~~~~~~~~~~~~~

{% for item in data['merge']['operations'] %}
- {{ item. }}

- {% endfor %}

{{ data['merge']['operations']['GetSystemMetadata']['name'] }}


{{ data['merge']['operations']['GetSystemMetadata']['documentation'] }}


